<div class="jumbotron border border-primary">
    <div class="alert alert-primary text-center h1 border border-primary" role="alert"> Pet Adot </div>

    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Sexo</th>
                    <th>Idade</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let photo of photos" class="col-4">
                    <td><img src="img-thumbnail data:imagem/jpg;base64">{{photo.image}}</td>
                    <td>{{photo.id}}</td>
                    <td>{{photo.nome}}</td>
                    <td>{{photo.sexo}}</td>
                    <td>{{photo.idade}}</td>
                    <td>
                        <span class="float-right">
                            <button class="btn btn-outline-warning mb-1 btn-sm" (click)="verDetalhes(photo.id)">
                                Ver Detalhes
                            </button>
                            <!-- <button class="btn btn-outline-warning mb-1 btn-sm">
                        User-Adot
                    </button>
                    <button class="btn btn-outline-warning mb-1 btn-sm">
                        Cancelar
                    </button> -->
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>