<div class="jumbotron border border-primary">
    <form class="needs-validation" [formGroup]="form">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome_usu">Nome do Pet</label>
                <input type="text" class="form-control" id="formGroupExampleInput"
                    placeholder="Insira o nome do Pet" formControlName="nome_usu">
            </div>
            <div class="form-group col-md-4 ">
                <label for="data_ini">Idade do Pet</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insira a idade do Pet"
                    formControlName="idade_pet">
            </div>
        </div>
        <br>

        <legend class="col-form-label col-sm-2 pt-0">Sexo: </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Fêmea
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Macho
            </label>
        </div>
        <br>
        <legend class="col-form-label col-sm-2 pt-0">Porte: </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Pequeno
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Médio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Grande
            </label>
        </div>
        <br>
        <legend class="col-form-label col-sm-2 pt-0">Filhote: </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Sim
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Não
            </label>
        </div>
        <br>
        <legend class="col-form-label col-sm-4 pt-0">Carteira de Vacinação: </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Sim
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Não
            </label>
        </div>
        <br>
        <legend class="col-form-label col-sm-2 pt-0">Castrado: </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Sim
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Não
            </label>
        </div>
        <br>
        <legend class="col-form-label col-sm-2 pt-0">Vermifugado: </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Sim
            </label>
            <br>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Não
            </label>
        </div>
        <br>
        <legend class="col-form-label col-sm-2 pt-0">Em situação de rua: </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Sim
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Não
            </label>
        </div>
        <br>
        <div class="form-group">
            <label for="file">Insira uma foto do Pet</label>
            <input type="file" 
            class="form-control-file" 
            id="file"
            accept="image/*"
            (change)="file = $event.target.files[0]">
        </div>


        <div>
            <button type="submit" class="btn btn-primary" style="margin-right: 15px"
                (click)="onSubmit()">Atualizar</button>
            <button type="button" class="btn btn-primary" style="margin-right: 15px"
                (click)="onCancel()">Cancelar</button>
        </div>
    </form>
</div>