<div class="jumbotron border border-primary" id="jumbotron1">
<div class="alert alert-primary text-center h1 border border-primary" role="alert"> Usuário Cadastro </div>

<div class="jumbotron border border-primary">
    <form class="needs-validation" [formGroup]="form">

        <div class="form-row">
        <div class="form-group col-md-6 pt-0" >
            <label for="nome" >Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Insira o seu nome"
                formControlName="nome">
        </div>

        <div class="form-group col-md-6 pt-0">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome" placeholder="Insira o seu sobrenome"
                formControlName="sobrenome">
        </div>

        </div>
        <div class="form-row">
        <div class="form-group col-md-6 pt-0">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email" placeholder="Insira o seu E-mail"
                formControlName="email">
        </div>
        <div class="form-group col-md-6 pt-0">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" placeholder="Insira o seu Login"
                formControlName="login">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 pt-0">
            <label for="senha">Senha</label>
            <input type="text" class="form-control" id="senha" placeholder="Insira sua Senha"
                formControlName="senha">
        </div>
        <div class="form-group col-md-6 pt-0">
            <label for="repSenha">Repita sua Senha</label>
            <input type="text" class="form-control" id="repSenha" placeholder="Repita sua Senha"
                formControlName="repSenha">
        </div>
    </div>

        <div>
            <button type="submit" class="btn btn-primary" style="margin-right: 15px" (click)="onBack()">Voltar</button>
            <button type="button" class="btn btn-primary" style="margin-right: 15px" (click)="onNext()">Próximo</button>
        </div>
    </form>
</div>
</div>