<body>
    <div class="jumbotron border border-primary">
        <div class="alert alert-primary text-center h1 border border-primary" role="alert"> Lista de Colaboradores </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Email</th>
                        <th>RG</th>
                        <th>CPF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" class="col-4">
                        <td>{{user.user.nome}}</td>
                        <td>{{user.user.sobreNome}}</td>
                        <td>{{user.user.email}}</td>
                        <td>{{user.rg}}</td>
                        <td>{{user.cpf}}</td>
                        <td>
                            <span class="float-right">
                                <button class="btn btn-outline-success mb-1 btn-sm" id="button2" (click)="verDetalhes(user.cpf)">
                                    Atualizar
                                </button>
                                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="verDetalhes(user.cpf)">
                                    Deletar
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>