<div class="jumbotron border border-primary">
    <form class="needs-validation" [formGroup]="form2">


        <legend class="col-form-label col-sm-2 pt-0">Mora em: </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Casa
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Apartamento
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
                Sítio/fazenda
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
                Outro tipo de moradia
            </label>
        </div>
    <br>
        <legend class="col-form-label col-sm-4 pt-0">Tem mais de 18 anos: </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Sim
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Não
            </label>
        </div>
<br>
        <legend class="col-form-label col-sm-2 pt-0">Quer adotar:  </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Gato
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Cachorro
            </label>
        </div>
<br>
        <legend class="col-form-label col-sm-2 pt-0">Porte:  </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Pequeno
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Médio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Grande
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Indiferente
            </label>
        </div>
<br>
        <legend class="col-form-label col-sm-2 pt-0">Filhote:  </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Sim
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Não
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Indiferente
            </label>
        </div>
<br>
        <legend class="col-form-label col-sm-2 pt-0">Castrado:  </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Sim
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Não
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Indiferente
            </label>
        </div>
        <br>
        <legend class="col-form-label col-sm-2 pt-0">Sexo:  </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="opcao1"
                checked>
            <label class="form-check-label" for="exampleRadios1">
                Fêmea 
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Macho
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="opcao2">
            <label class="form-check-label" for="exampleRadios2">
                Indiferente
            </label>
        </div>
        
<br>


        <!-- <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Clique em mim
                </label>
            </div>
        </div> -->
        <div>
            <button type="submit" class="btn btn-primary" style="margin-right: 15px"
                (click)="onSubmit()">Salvar</button>
            <button type="button" class="btn btn-primary" style="margin-right: 15px"
                (click)="onCancel()">Cancelar</button>
        </div>
    </form>
</div>