<div class="jumbotron">
    <div class="container">
      <div class="form-signin col s6">
        <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
        <label for="inputLogin" class="sr-only">Login</label>
        <input [(ngModel)]="usuario.login" type="text" id="login" class="form-control" placeholder="Seu Login" required
          autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <br>
        <input [(ngModel)]="usuario.senha" type="password" id="senha" class="form-control" placeholder="Senha" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Lembrar de mim
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/pet-cadastro">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy; Pet-ADot 2022</p>
      </div>
    </div>
  </div>