<body>
<div class="jumbotron border border-primary" id="jumbotron1">
    <div class="alert alert-primary text-center h1 border border-primary" role="alert"> Endereço do Colaborador</div>
<div class="jumbotron border border-primary">
    <form class="needs-validation" [formGroup]="formEndereco">
<div class="form-row">
    <div class="form-group  col-md-6">
        <label for="logradouro">Logradouro</label>
        <input type="text" class="form-control" id="logradouro" placeholder="Insira a Rua"
            formControlName="logradouro">
    </div>
    <div class="form-group col-md-6">
        <label for="numero">Numero</label>
        <input type="text" class="form-control" id="numero" formControlName="numero">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="localidade">Cidade</label>
        <input type="text" class="form-control" id="localidade" formControlName="localidade">
    </div>
    <div class="form-group col-md-6">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" formControlName="bairro">
    </div>
      <div class="form-group col-md-4">
        <label for="uf">Estado</label>
        <input type="text" class="form-control" id="uf" formControlName="uf">
    </div>
    <div class="form-group col-md-4">
        <label for="pais">País</label>
        <select id="pais" class="form-control" formControlName="pais">
            <option selected>Escolher...</option>
            <option>Brasil</option>
            <option>Portugal</option>
            <option>China</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep"
        (blur)="consultarCep()">
    </div>
</div>
<div>
    <button type="submit" class="btn btn-primary" style="margin-right: 15px" (click)="onNext()">Próximo</button>
    <button type="submit" class="btn btn-primary" style="margin-right: 15px" (click)="onBack()">Voltar</button>
</div>
    </form>
    </div>
</div>
</body>