<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Pet-ADot!!!</h1>
      <h5 style="text-align:center">Esta é uma plataforma para facilitar a sua adoção e doação de Pets!!!</h5>
      <p>Conforme a Lei nº 9.605/1998, maus-tratos contra animais domésticos, nativos ou exóticos caracterizam crime e podem render pena de detenção de três meses a um ano, além de pagamento de multa.</p>
      <p>
        <a class="btn btn-primary btn-lg" routerLink="/user" type="button"role="button" style="margin: 0 15px; padding: 10px;" >Cadastre-se Aqui &raquo;</a>
        <a class="btn btn-primary btn-lg" routerLink="/login-doacao" type="button" role="button" style="margin: 0 15px; padding: 10px" >Já sou Cadastrado &raquo;</a>
      </p>
    </div>
  </div>