<div class="jumbotron border border-primary">
    <form class="needs-validation" [formGroup]="form">
        <h1>Quem Somos!</h1>
<br>
        <P>O projeto Pet-Adot nasceu da necessidade de encontrar um meio para a solução de animais de situação de rua ou
            que</P>
        <p>precisam de um lar. Nosso principal objetivo é agregar de alguma forma mais dignidade e respeito com
            esses animais</p>
        <p>que precisam de um lar de pessoas que estejam engajadas com a causa!</p>
    </form>
</div>