
<body>
<div class="jumbotron border border-primary" style="text-align: center;">


    <div class="card" id="img" style="width: 18rem;">
        <img src="{{'data:image/JPEG;base64,' + photo.imagem}}" class="card-img-top" alt="...">
        </div>
     <div>
    <h2>{{photo.nome}}</h2>
    <p>Identificação: {{photo.id}}</p> 
    <p>Sexo: {{photo.sexo}}</p> 
    <p>Porte: {{photo.porte}}</p>
    <p>Idade: {{photo.idade}} </p>
    <p>Pelagem Tamanho: {{photo.pelagemTamanho}}</p>
    <p>Pelagem Cor: {{photo.pelagemCor}}</p>
    <p>Condição de Saúde: {{photo.condicaoSaude}}</p>

    <button type="button" class="btn btn-outline-success" id="button1">Atualizar</button>
    <button type="button" class="btn btn-outline-warning" id="button2" (click)="verAdotadores(photo.id)">Adotadores</button>
    <button type="button" class="btn btn-outline-danger" id="button3">Deletar</button>

</div>
</div>
    