<div class="jumbotron border border-primary">
    <div class="alert alert-primary text-center h1 border border-primary" role="alert"> Usuário Pet Adot </div>
<div class="jumbotron border border-primary">
    <form class="needs-validation" [formGroup]="form2">

        <div class="form-row">
            <div class="form-group col-md-6 pt-0">
                <label for="rg">Insira seu RG</label>
                <input type="text" class="form-control" id="rg"
                    placeholder="Insira seu RG" formControlName="rg">
            </div>
            <div class="form-group col-md-6 pt-0">
                <label for="renda">Renda Familiar Aproximada</label>
                <input type="text" class="form-control" id="renda" placeholder="Insira sua renda familair aproximada"
                    formControlName="renda">
            </div>
        </div>
        <br>  

        <div class="form-row">
            <div class="form-group col-md-6 pt-0">
                <label for="tel">Insira seu número de telefone</label>
                <input type="text" class="form-control" id="tel"
                    placeholder="Insira seu número de telefone" formControlName="tel">
            </div>
        </div>

        <legend class="col-form-label col-sm-2 pt-0">Sexo:  </legend>
        <div class="form-check" *ngFor="let item of sexoOp">
            <input class="form-check-input" type="radio" [value]="item.valor" formControlName="sexo" id="sexo" 
                checked>
            <label class="form-check-label" for="sexo">
                {{item.desc}}
            </label>
        </div>
        <br>

        <legend class="col-form-label col-sm-2 pt-0">Mora em: </legend>
        <div class="form-check" *ngFor="let item of moradiaOp">
            <input class="form-check-input" type="radio" [value]="item.valor" formControlName="moradia" id="moradia" 
                checked>
            <label class="form-check-label" for="moradia">
                {{item.desc}}
            </label>
        </div>
    <br>

    <legend class="col-form-label col-sm-2 pt-0">Estado Civil: </legend>
        <div class="form-check" *ngFor="let item of estadoCivilOp">
            <input class="form-check-input" type="radio" [value]="item.valor" formControlName="estadoCivil" id="estadoCivil" 
                checked>
            <label class="form-check-label" for="estadoCivil">
                {{item.desc}}
            </label>
        </div>
    <br>

    <legend class="col-form-label col-sm-4 pt-0">Quantidade de Filhos: </legend>
        <div class="form-check" *ngFor="let item of quantFilhosOp">
            <input class="form-check-input" type="radio" [value]="item.valor" formControlName="quantFilhos" id="quantFilhos" 
                checked>
            <label class="form-check-label" for="quantFilhos">
                {{item.desc}}
            </label>
        </div>
    <br>


        <div>
            <button type="submit" class="btn btn-primary" style="margin-right: 15px" (click)="onNext()">Próximo</button>
            <button type="submit" class="btn btn-primary" style="margin-right: 15px" (click)="onBack()">Voltar</button>
        </div>
    </form>
</div>
<br>
</div>
