
<div class="jumbotron border border-primary">
<div class="alert alert-primary text-center h1 border border-primary" role="alert"> Portal Do Administrador </div>
<button type="button" id="button1" class="btn btn-lg btn-outline-primary"  routerLink="/pet-cadastro">Cadastrar Pet</button>
<button type="button" id="button2" class="btn btn-lg btn-outline-primary"  routerLink="/pet-cadastro">Pesquisar Pet</button>
<button type="button" id="button3" class="btn btn-lg btn-outline-primary"  routerLink="/pet-cadastro">Cancelar Pet</button>
<button type="button" id="button4" class="btn btn-lg btn-outline-primary"  routerLink="/pet-table">Listar Pet</button>  
</div>