#button1 {
    margin: 0 30px;
}


#button2 {
    margin: 0 30px;
}

#button3 {
    margin: 0 30px;
}


#button4 {
    margin: 0 30px;
}

#button5 {
    margin: 0 30px;
}

#buttom6 {
    margin-left: 30px;
}

#button7 {
    margin-top: 15px; 
    margin: 30px;
}

#jumbo {
    margin-top: 30px; 
    
}

body {
    background-color: rgb(228, 98, 228);
  }


