
<div class="alert alert-primary text-center h1 border border-primary" role="alert"> Portal Do Administrador </div>
<button type="button" class="btn btn-lg btn-outline-primary" style="width: 17.5rem; position: absolute; top:15%; left:11%" routerLink="/pet-cadastro">Cadastrar Pet</button>
<button type="button" class="btn btn-lg btn-outline-primary" style="width: 17.5rem; position: absolute; top:25%; left:11%" routerLink="/pet-cadastro">Pesquisar Pet</button>
<button type="button" class="btn btn-lg btn-outline-primary" style="width: 17.5rem; position: absolute; top:35%; left:11%" routerLink="/pet-cadastro">Cancelar Pet</button>
<button type="button" class="btn btn-lg btn-outline-primary" style="width: 17.5rem; position: absolute; top:45%; left:11%" routerLink="/pet-lista">Listar Pet</button>  
