
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets\carrosel\imagem01.jpg" alt="Primeiro Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets\carrosel\imagem03.jpg" alt="Segundo Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets\carrosel\imagem02.jpg" alt="Terceiro Slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
      <!-- Principal jumbotron, para a principal mensagem de marketing ou call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Pet-ADot!!!</h1>
          <h5 style="text-align:center">Esta é uma plataforma para facilitar a sua adoção e doação de Pets!!!</h5>
          <p>
            <a class="btn btn-primary btn-lg" href="#" type="button"role="button" style="margin: 0 15px; padding: 10px;" routerLink="/user">Cadastre-se Aqui &raquo;</a>
            <a class="btn btn-primary btn-lg" href="#" type="button" role="button" style="margin: 0 15px; padding: 10px" routerLink="/login-doacao">Já sou Cadastrado &raquo;</a>
          </p>
        </div>
      </div>

      <div class="container">
        <!-- Exemplo de linha de colunas -->
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 20rem; height:28rem;">
              <img src="assets\photopets\juntos.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">Álbum de Pets</h3>
                <p class="card-text">Faça a diferença, aqui você encontra mais que um pet, um amigo para todas as horas!</p>
                <a href="#" class="btn btn-primary" style="width: 17.5rem;" routerLink="/pet-lista">Álbum de Pets</a>
              </div>
            </div>
          </div>
          <div class="col-md-4"  href="#">
            <div class="card" style="width: 20rem; height:28rem;">
              <img src="assets\photopets\juntos3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">Doações Pet</h3>
                <p class="card-text">Não abandone seu Pet, ou se souber de um amiguinho presisando de ajuda, entre em contato conosco! Vamos dar um novo lar para os pets!</p>
                <a href="#"  routerLink="/doacao-pet" class="btn btn-primary" style="width: 17.5rem;">Doações Pet</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 20rem; height:28rem;">
              <img src="assets\photopets\work.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">Portal Administrador</h3>
                <p class="card-text">Espaço reservado para os Adm da Ong! Faça Login com a sua conta! Sonhar é preciso</p>
                <a href="#" routerLink="/login-portal" class="btn btn-primary" style="width: 17.5rem;" >Login Administrador</a>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div> <!-- /container -->

    <footer class="container">
      <p>&copy; Pet-ADot 2022</p>
    </footer>

    