<body><div class="jumbotron border border-primary">
    <div class="alert alert-primary text-center h1 border border-primary" role="alert">Cadastro Pet-Adot</div>
    <div class="jumbotron border border-primary">
        <form class="needs-validation" [formGroup]="petForm">

            <div class="form-row">
                <div class="form-group col-md-6 pt-0">
                    <label for="nomePet">Nome do Pet</label>
                    <input type="text" class="form-control" id="nomePet" placeholder="Insira o nome do Pet"
                        formControlName="nomePet">
                </div>
                <div class="form-group col-md-4 pt-0">
                    <label for="idadePet">Idade do Pet</label>
                    <input type="text" class="form-control" id="idadePet" placeholder="Insira a idade do Pet"
                        formControlName="idadePet">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 pt-0">
                    <label for="raca">Raça do Pet</label>
                    <input type="text" class="form-control" id="raca" placeholder="Insira a Raça do Pet"
                        formControlName="raca">
                </div>
            </div>
            <br>
            <legend class="col-form-label col-sm-2 pt-0" [ngClass]="('sexo')">Sexo: </legend>
            <div class="form-check" id="sexo" *ngFor="let item of sexoOp">
                <input class="form-check-input" type="radio" [value]="item.valor" formControlName="sexo" checked>
                <label class="form-check-label" for="sexo">
                    {{item.desc}}
                </label>
            </div>
            <br>
            <legend class="col-form-label col-sm-2 pt-0">Especie: </legend>
            <div class="form-check" id="especie" *ngFor="let item of especieOp">
                <input class="form-check-input" type="radio" [value]="item.valor" formControlName="especie" checked>
                <label class="form-check-label" for="especie">
                    {{item.desc}}
                </label>
                <br>
            </div>
            <br>
            <legend class="col-form-label col-sm-2 pt-0">Porte: </legend>
            <div class="form-check" *ngFor="let item of porteOp">
                <input class="form-check-input" type="radio" [value]="item.valor" formControlName="porte" id="porte"
                    checked>
                <label class="form-check-label" for="porte">
                    {{item.desc}}
                </label>
            </div>
            <br>
            <legend class="col-form-label col-sm-2 pt-0">Pelagem Tamanho: </legend>
            <div class="form-check" *ngFor="let item of pelagemTamanhoOp">
                <input class="form-check-input" type="radio" [value]="item.valor" formControlName="pelagemTamanho"
                    id="pelagemTamanho" checked>
                <label class="form-check-label" for="pelagemTamanho">
                    {{item.desc}}
                </label>
            </div>
            <br>
            <legend class="col-form-label col-sm-2 pt-0">Pelagem Cor: </legend>
            <div class="form-check" *ngFor="let item of pelagemCorOp">
                <input class="form-check-input" type="radio" [value]="item.valor" formControlName="pelagemCor"
                    id="pelagemCor" checked>
                <label class="form-check-label" for="pelagemCor">
                    {{item.desc}}
                </label>
            </div>
            <br>

            <legend class="col-form-label col-sm-2 pt-0 ">Castrado: </legend>
            <div class="form-check" *ngFor="let item of castradoOp">
                <input class="form-check-input" type="radio" [value]="item.valor" formControlName="castrado"
                    id="castrado" checked>
                <label class="form-check-label" for="castrado">
                    {{item.desc}}
                </label>
            </div>
            <br>

            <legend class="col-form-label col-sm-2 pt-0">Vermifugado: </legend>
            <div class="form-check" *ngFor="let item of vermificadoOp">
                <input class="form-check-input" type="radio" [value]="item.valor" formControlName="vermificado"
                    id="vermificado" checked>
                <label class="form-check-label" for="vermificado">
                    {{item.desc}}
                </label>
                <br>
            </div>
            <br>

            <!-- <legend class="col-form-label col-sm-2 pt-0">Status da Adoção: </legend>
        <div class="form-check" *ngFor="let item of statusAdocaoOp">
            <input class="form-check-input" type="radio" [value]="item.valor" formControlName="statusAdocao" id="statusAdocao"
                checked>
            <label class="form-check-label" for="statusAdocao">
                {{item.desc}}
            </label>
            <br>
        </div> -->

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="condSaude">Observação condição de saúde</label>
                    <input type="text" class="form-control" id="condSaude" placeholder="Insira condições de saúde"
                        formControlName="condSaude">
                </div>

            </div>
            <br>
            <div class="form-group">
                <label for="file">Insira uma foto do Pet</label>
                <input type="file" class="form-control-file" formControlName="file" id="file" accept="image/*"
                     (change)="handleFileSelect($event)">
                <!-- (change)="$event" -->

            </div>


            <div>
                <button type="submit" class="btn btn-primary" style="margin-right: 15px"
                    (click)="onSuccess()">Salvar</button>
                <button type="button" class="btn btn-primary" style="margin-right: 15px"
                    (click)="onCancel()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
</body>